# dependencies
node_modules/

# expo
.expo/
dist/
web-build/

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# env / secrets
.env
.env.local
.env*.local

# misc
npm-debug.*
yarn-error.*
.DS_Store
